/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2016, 8:19:25 PM
    Author     : rowjat
*/
.attend-name {
    border-bottom:1px solid #EEE;
    background-color: #d9edf7;
    color: #777
}
.p-attend-cond{
    background-color: #4cae4c;
    color: #EEE
}
.a-attend-cond{
    background-color: #f66;
    color: #EEE
}
.h-attend-cond{
    background-color: #66afe9;
    color: #EEE
}
.d-attend-cond{
    background-color: #d9edf7;
    color: #c0a16b;
}
/*---------------------*/
html, body {
  height: 100%;
  min-height: 100%; }

body {
  margin: 0;
  background: #d5d5d5;
  /*color: #EEE;*/
  font-family: 'Raleway', Arial, sans-serif; }
/*----------------*/
.error-msg{
    font-size: 10px;
    font-weight: bold;
    color: #d62728;
    /*border: 1px solid #d62728;*/
    background-color: #d9edf7;
    position: absolute;
    top: 100%;
    left: 8%;
    opacity: 0.6;

}
/*.error-msg:before{
   content: "\*";
display: inline-block;
vertical-align: middle;
}*/
.amount{
    text-align: right;
    font-weight: bold;
    color: #204d74;
}
.amount:after {
    content: "\/-"; /* Insert content that looks like bullets */
    padding-left: 4px;
}

/*
Staet Fee collection Table
*/
.fee-tbl tr{
  /*border: 1px double;*/
}
.fee-tbl tr th{
    padding: 0px 10px;
    width: 160px;
    text-align: center;
    background-color: #d9edf7;
    border-top: 1px solid #66afe9;
     border-bottom: 1px solid #66afe9
}
.fee-tbl tr td{
     padding: 2px 10px;
    /*width: 100px;*/
    /*text-align: center*/
}
.input-m-sm{
    height: 15px;
}
/*
end Fee collection Table
*/